.singular-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #d5ffc6;
    border-radius: 14px;
    background-color: #fff;
  }

  .back-button-container button {
    margin-left: 20px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: #efefef;
  }

  .back-button-container button:hover {
    background-color: #e9e9e9;
  }

  .singular-event-container p {
    text-align: center;
  }

  .info-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  #join-unjoin-button {
    height: 40px;
    width: 95px;
    border: none;
    border-radius: 10px;
  }

  .positive-action {
    background-color: #a6ffe1;
  }

  .positive-action:hover {
    background-color: #4DEAB6;
  }

  .event-info-card {
    margin-top: 20px;
    padding: 30px;
    border: none;
    border-radius: 12px;
    background-color: #d5ffc6;
    margin-bottom: 20px;
  }

  .event-info-card h1 {
    margin-bottom: 15px;
  }

  .event-info-card h2 {
    margin-top: 0px;
    font-size: 15px;
  }

  .event-info-card p {
    margin-bottom: 20px;
  }

  .delete-event-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .delete-button {
    align-items: center;
    margin-top: 20px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
    background-color: #ffabe3;
  }

  .delete-button:hover {
    background-color: #ff72d0
  }

  .negative-action {
    background-color: #ffabe3; 
  }
  
  .negative-action:hover {
    background-color: #ff72d0; 
  }

  #success-message {
    margin-top: 20px;
    margin-bottom: 0px;
  }

