.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    border-radius: 5px;
    padding: 3px;
    background-color: aquamarine;
    border-color: aquamarine;
    color: white;
}