.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container button {
    margin-top: 0px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    background-color: #d5ffc6;
    color: rgb(145, 145, 145);
    cursor: pointer; 
}

.button-container button:hover {
    background-color: #C1FFE3;
}